<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:insert="/fragment/mainHead.html :: mainHead">
        <title>홈페이지</title>
    </head>

<body>
    <!-- Navigation-->
    <nav th:include="/fragment/mainBodyNav.html :: mainBodyNav" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    </nav>

    <header class="masthead">

    </header>

    <!-- 로그인 중일 때 모달창 -->
    <div th:if="${session.authInfo != null}" class="modal fade" id="login-Modal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">회원 정보</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 text-center">
                            <div th:if="${session.authInfo.state==0}">
                                <span class="text-center">일반회원</span>
                            </div>
                            <div th:if="${session.authInfo.state==2}">
                                <span class="text-center">관리자</span>
                            </div>

                            <span th:if="${session.authInfo.state==0}"
                                class="text-center align-self-center">[[${session.member.memberNickname}]]</span>
                            <span th:if="${session.authInfo.state==2}" class="text-center align-self-center">관리자</span>
                            <span class="text-center"> 님 환영합니다!</span>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button> -->
                    <button type="button" class="btn btn-primary" id="my_page_btn"
                        onclick="window.location.href='/member/mypage'">마이페이지</button>
                    <button type="button" class="btn btn-dark" id="logout_btn" onclick="logoutClick()">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- 닉네임 모달 -->
    <div class="modal fade" id="nickname-modify-Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">새로운 닉네임을 입력해주세요.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control shadow-none" id="nickname" placeholder=""
                                    value="">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-outline-dark btn-block" type="button"
                                    id="nickname_dup_check">중복확인</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="nickname_modify_btn" data-bs-dismiss="modal"
                        disabled>입력</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- 주소 모달 -->
    <div class="modal fade" id="addr-modify-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">새로운 주소를 입력해주세요.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control shadow-none" type="text" id="postcode" placeholder="우편번호"
                                    readonly>
                            </div>
                            <div class="col-md-5 offset-md-2">
                                <input class="form-control btn btn-outline-dark btn-block" type="button"
                                    onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                            </div>
                            <div class="col-md-12 mb-4">
                                <input class="form-control shadow-none" type="text" id="detailAddress"
                                    placeholder="상세주소">
                                <div id="detailAddress_valid_text"></div>

                            </div>
                            <div class="col-md-6">
                                <input class="form-control shadow-none" type="text" id="address" placeholder="주소"
                                    readonly>
                                <div id="address_valid_text"></div>

                            </div>
                            <div class="col-md-6">
                                <input class="form-control shadow-none" type="text" id="extraAddress" placeholder="참고항목"
                                    readonly>
                            </div>
                            <input id="addr_value" type="hidden" style="font-size: 0px; width: 0px;height: 0px;"
                                value=""></text>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addr_modify_btn" data-bs-dismiss="modal"
                        disabled>입력</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- 생년월일 모달 -->
    <div class="modal fade" id="birth-modify-Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">새로운 주소를 입력해주세요.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="date" class="form-control shadow-none" id="birth" placeholder="">
                                <div id="birth_valid_text"></div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="birth_modify_btn" data-bs-dismiss="modal"
                        disabled>입력</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- 이메일 모달 -->
    <div class="modal fade" id="email-modify-Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">새로운 이메일을 입력해주세요.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-7">
                                <input type="email" class="form-control shadow-none" id="email"
                                    placeholder="gildong@example.com">
                                <div id="email_valid_text"></div>
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-outline-dark btn-block" type="button" id="email_auth_btn"
                                    disabled>인증번호 전송</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <input type="text" class="form-control shadow-none" id="email_check" placeholder="">
                                <div id="email_check_valid_text"></div>
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-outline-dark btn-block" type="button"
                                    id="email_auth_submit_btn">인증</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="email_modify_btn" data-bs-dismiss="modal"
                        disabled>입력</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- 카테고리 모달 -->
    <div class="modal fade" id="category-modify-Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">관심 카테고리에 체크해주세요.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control shadow-none" th:value="${session.member.memberCategory}"
                        id="memberCategory" readonly>
                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <input id="category_checkbox1" class="form-check-input category" type="checkbox" value="1">
                                <label for="category_checkbox1">음악</label><br>
                                <input id="category_checkbox2" class="form-check-input category" type="checkbox" value="2">
                                <label for="category_checkbox2">음식</label><br>
                                <input id="category_checkbox3" class="form-check-input category" type="checkbox" value="3">
                                <label for="category_checkbox3">영화</label><br>
                            </div>
                            <div class="col-md-3">
                                
                                <input id="category_checkbox4" class="form-check-input category" type="checkbox" value="4">
                                <label for="category_checkbox4">종교</label><br>
                                <input id="category_checkbox5" class="form-check-input category" type="checkbox" value="5">
                                <label for="category_checkbox5">꽃</label><br>
                                <input id="category_checkbox6" class="form-check-input category" type="checkbox" value="6">
                                <label for="category_checkbox6">역사</label><br>
                            </div>
                            <div id="selected_category">

                            </div>
                            <input id="category_value" type="hidden" style="font-size: 0px; width: 0px;height: 0px;"
                                value=""></text>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="category_modify_btn"
                        data-bs-dismiss="modal">입력</button>
                </div>
            </div>
        </div>
    </div>
    <!--  -->


    <section>
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">회원정보 변경</h2>
                <h3 class="section-subheading text-muted">저장 버튼을 누르면 변경사항이 반영됩니다.</h3>
            </div>
            <br><br>
            <br><br>
            <div class="d-flex">
                <div class="col-md-6 offset-md-3 gap-3">

                    <label for="id">새 비밀번호 (특수문자, 영문, 숫자를 모두 사용 8~16)</label>
                    <div class="row">
                      <div class="col-md-12">
                        <input type="password" class="form-control shadow-none" id="password" placeholder=""
                          value="">
                        <div id="password_valid_text"></div>
                      </div>
                    </div>
      
                    <br>
                    <label for="id">새 비밀번호 확인</label>
                    <div class="row">
                      <div class="col-md-12">
      
                        <input type="password" class="form-control shadow-none" id="password_check" placeholder="" value="">
                        <div id="password_check_valid_text"></div>
                      </div>
                    </div>
                    <br><br>

                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <input type="button" class="btn btn-primary btn-xl" id="modify_btn" value="비밀번호 변경">
                </div>
            </div>
        </div>
    </section>


    <!-- 로그인 중일 때 모달창 -->
    <div th:include="/fragment/modal.html :: loginModal-in" th:if="${session.authInfo != null}" class="modal fade"
        id="login-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    </div>


    <!-- 로그인 중이 아닐때 모달 -->
    <div th:include="/fragment/modal.html :: loginModal-out" th:if="${session.authInfo == null}" class="modal fade"
        id="login-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    </div>



    <footer th:include="/fragment/mainFooter.html :: mainFooter" class="footer py-4">
    </footer>




    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!--        수정해야할 부분==================================-->
    <script src="/js/scripts.js"></script>

    <!-- 모달 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/jusoApi.js"></script>

    <!-- Jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- memberModify -->
    <script src="/js/memberPasswordModify.js"></script>




    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
<script>

</script>

</html>