<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <!-- <a th:text="${session.member.member_id}">[[${session.member.member_id}]]</a><br>
        <a th:text="${session.member.member_nickname}">[[${session.member.member_nickname}]]</a><br>
        <a th:text="${session.member.member_addr}">[[${session.member.member_addr}]]</a><br>
        <a th:text="${session.member.member_email}">[[${session.member.member_email}]]</a><br>
        <a th:text="${session.member.member_category}">[[${session.member.member_category}]]</a><br> -->

        <input type="text" th:value="${session.member.member_id}"><br>
        <input type="text" th:value="${session.member.member_nickname}"><br>
        <input type="text" th:value="${session.member.member_addr}"><br>
        <input type="text" th:value="${session.member.member_email}"><br>
        <input type="text" th:value="${session.member.member_category}"><br>
    </div>
    
    
    
</body>
</html>